body {
  background: #FFFEF5;
  color: black;
  height: 100vh; /* Define a height so we can limit the grid */
}

main {
  background: unset;
  /*! height: 100vh; */ /* Override grid default of auto height grid items */
}

footer {
  background: #b2af96;
}

.container-col {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.indent1 {
  margin-left: 1em;
}

.navbar {
  background: #B2AF96;
  color: white;
}

.navbar a {
  color: black;
}

.dropdown ul {
  background: #b2af96;
}

.dropdown li:hover, .dropdown li:focus-within {
  background-color: #F3F0FF;
}

.content {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 2vh;
  height: 100%; /* Define a height so grid items can shrink */
  /*! justify-content: flex-start; */
}

#category-tabs {
  margin: 0;
  font-size: 1.2em;
  list-style: none;
  padding: 0;
  font-family: Lato, sans-serif;
  color: rgba(0, 0, 0, .5);
  /*! margin-bottom: 0; */
}

#category-tabs li:hover {
  cursor: pointer;
  color: black;
}

#category-tabs .slide-active-selection {
  color: #000;
}

.daterange {
  float: right;
}

.slider {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  /*! min-height: 35vh; */
}

.slide {
  opacity: 0;
  visibility: collapse;
  animation: slide-dismiss 1s;
  margin: 0 1%;
  /* Chrome does not treat visibility: collapse; properly for a flex item yet */
  position: absolute;
  top: 0;
}

.slide *:first-child {
  margin-top: 0;
}

.active-slide {
  animation: slide-appear 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-dismiss {
  0% {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    margin-left: 10%;
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes slide-appear {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#skills {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-gap: 1em;
}

#skills h4 {
  font-size: 1em;
  border-bottom: 1px solid black;
}

@media (max-width: 10in), (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  #skills {
    display: block;
  }
}

@media all and (max-width: 7in), (min-resolution: 144dpi), (-webkit-min-device-pixel-raito: 1.5) {

  body {
    height: unset;
  }

  #category-tabs {
    margin-bottom: 1em;
  }

  .slider {
    min-height: 30vh;
  }

}
