/* General */

/* TODO: add media query to change font sizes on small screens */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: auto;
    color: white;
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Zilla Slab', serif;
}

header {
    background-color: #EAAA00;
    padding-left: 1em;
}

main {
    background: no-repeat url("../static/DSC_3174.jpg");
    background-size: cover;
    background-attachment: scroll;
}

.container {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-content: center;
}

@media all and (max-width: 7in) {
    html {
        font-size: .8em;
    }
    .navbar {
        font-size: 1.5em;
    }
}

/*** NAV ***/

.navbar {
    font-family: 'Zilla Slab', serif;
    font-size: 1.25em;
}

.navbar ul {
    list-style: none;
    padding: 0 0;
    margin: 0 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar ul li {
    padding: 5px;
    position: relative;
}

.navbar li:hover {
    background-color: #F5D580;
    transition: ease .25s;
}

.navbar img {
    max-height: 1em;
}

#linkedin {
    margin-left: auto;
}

#github-icon {
    padding-right: 1em;
    margin-left: 2px;
}

#github-li:hover, #linkedin:hover {
    background-color: inherit;
}

/** DROPDOWN **/

.dropdown img {
    padding: 0 .2em;
}

/* Set all dropdown properties now, take it out of document flow with position: absolute; and hide it with visibility
as we cannot animate it if display is set to none */

.dropdown ul {
    /* account for .navbar ul li margin */
    margin: 5px auto;
    display: block;
    position: absolute;
    left: 0;
    background-color: #EAAA00;
    text-align: center;
    min-width: 100%;
    visibility: hidden;
    transition: all ease .25s;
    opacity: 0;
}

.dropdown li:hover {
    background-color: #F5D580;
}

.dropdown ul li {
    padding: 2px 0;
}

.dropdown:hover ul, .dropdown ul:hover {
    visibility: visible;
    opacity: 1;
}

/*** CONTENT ***/

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, .5fr);
    grid-auto-rows: minmax(10vh, auto);
    grid-column-gap: 30vw;
    margin: 0 1em;
    font-size: 1.5em;
    -webkit-text-stroke: 1px black;
}

/* For blocks of content */

.give-bg {
    background-color: rgba(0, 0, 0, .2);
    -webkit-text-stroke: 0;
}

.content h1, h2, h3 {
    background-color: unset;
}

.content h1 {
    font-family: 'Zilla Slab';
    font-size: 3em;
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 0;
}

.content h2 {
    font-size: 2em;
}

.grid-box:nth-of-type(even) {
    text-align: right;
}

.grid-box:nth-of-type(even) ul {
    list-style-position: inside;
}

/* For construction notification */

.hide {
    display: none;
}

.show {
    display: block;
}

#lang-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    text-align: center;
    padding-top: 10%;
    font-size: 2em;
    /* Hebrew in serif fonts is horrific */
    font-family: 'Zilla Slab', sans-serif;
}

/* Specific content pane styling */

.hobbies ul {
  list-style-position: inside;
  padding-left: 0;
}

/* Reduce font size, transition from grid to column on small devices */

@media all and (max-width: 5in) {
    .content {
        font-size: .8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media all and (max-width: 7in) {
    .content {
        font-size: 1em;
    }
}
