body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
	margin: 0 auto;
	color: white;
	background-color: black;
}
header {
	background-color: #EAAA00;
	padding-left: 1rem;
}
.container {
	display: flex;
	flex: auto;
	flex-wrap: wrap;
}

/*** NAV ***/
.navbar {
	font-family: 'Zilla Slab', serif;
	font-size: 16pt;
}

.navbar ul {
	list-style: none;
	padding: 0 0;
	margin: 0 0;
}

.navbar a {
	text-decoration: none;
	color: black;
}

.navbar ul li {
	padding: 5px;
	position: relative;
}

.navbar li:hover {
	background-color: #F5D580;
	transition: ease-in-out .25s;
}

.dropdown ul {
	margin: 0;
	display: none;
}

.dropdown li:hover {
	background-color: #eaaa00;
}

.dropdown ul li {
	padding: 2px 0;
	z-index: 1;
}

.dropdown:hover ul, .dropdown ul:hover {
	display: block;
	position: absolute;
	left: 0;
	background-color: #f5d580;
	text-align: center;
	min-width: 100%;
}

/*** CONTENT ***/
.content {
}
