---
---
@import 'colors';
$trans: border-color 300ms;


input, button, textarea {
    display: block;
}

%input-style {
    border: 1px solid gray;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: .5em;
}

button[type="submit"] {
    @extend %input-style;
}

#sender, #msgbox {
    @extend %input-style;

    &:focus:invalid {
        border-color: red; 
        transition: $trans;
    }

    &:focus:valid {
        border-color: green;
        transition: $trans;
    }

    &:invalid {
        // Override browser defaults
        box-shadow: unset;
        border-color: gray;
        transition: $trans;
    }
}

$tri-len: 10px;
.up-arrow {
    width: 0;
    height: 0;
    border-right: $tri-len solid transparent;
    border-left: $tri-len solid transparent;
    border-bottom: $tri-len solid $dark-gray;
}

#captcha-container {
    position: relative;
    margin-bottom: .5em;
}
// Captcha error box
.error-container {
    position: absolute;
    color: white;
    text-align: center;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 100ms;
    
    .up-arrow {
        margin: 0 auto;
    }
    
    &.show {
        opacity: 1;
    }
}

#captcha-error {
    background: $dark-gray;
    border-radius: .5em;
    font-size: .75em;
    padding: .2em;
}