---
---
@import 'colors';
$trans: border-color 300ms;

.g-recaptcha {
    display: inline-block;
}

#contact-form:nth-child(1) {
    display: block;
}

%input-style {
    border: 1px solid gray;
    font-family: 'Roboto Slab', sans-serif;
    margin-bottom: .5em;
}

button[type="submit"] {
    @extend %input-style;
}

#sender, #msgbox {
    @extend %input-style;

    &:focus:invalid {
        border-color: red; 
        transition: $trans;
    }

    &:focus:valid {
        border-color: green;
        transition: $trans;
    }

    &:invalid {
        // Override browser defaults
        box-shadow: unset;
        border-color: gray;
        transition: $trans;
    }
}

#sender, #msgbox, button {
    margin-bottom: .5em;
}

// Captcha error box
#captcha-error {
    overflow: show;
    word-break: keep-all;
    color: white;
    background: $dark-gray;
    max-height: 1.1em;
    
    $tri-len: 5px;
    &::before {
        // Left pointing arrow, thanks CSS Tricks
        content: '';
        width: 0;
        height: 0;
        border-right: $dark-gray $tri-len solid;
        border-top: $tri-len solid transparent;
        border-bottom: $tri-len solid transparent;
    }
}