---
---
@import 'colors';

section {
  padding-left: 1em;
  border-left: 2px solid black;
  :nth-child(1) {
    margin-top: 0;
  }
}

main {
  background-color: #f5f5f5;
  color: black;
}

#title {
  justify-self: normal;
  color: white;
  // Flex to center
  display: flex;
  h1 {
    margin: auto; // center
  }
  // Tint photo a bit to make text clearer
  background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.25)),
    center/cover url("../static/DSC_0947.png") no-repeat,
    #111;
}

.navbar {
  // Don't count navbar in page height
  background: none;
  position: absolute;
  top: 0;
  z-index: 1;
  a {
    color: white;
  }
  width: 100%;
}

.content {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100vh auto;
  column-gap: 0;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    margin: 0 auto;
  }
}

@media all and (max-width: 1300px), (-webkit-min-device-pixel-raito: 2) {
  .navbar {
    position: initial;
    background: black;
  }

  .content {
    row-gap: 2vh;
    & > div {
      margin: auto;
    }
    h2 {
      margin: auto;
      border-bottom: 2px solid black;
    }
  }

  #title {
    align-self: normal;
    margin: 0;
  }

  section {
    border-left: none;
  }
}